<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticate</title>
    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="css/auth-styles/style.css">
   
</head>

<body>
    {{>navbar}}
    <div id="content">
        {{#if message}}
        <h1>{{message}}</h1>
        {{else}}
        <div>
            <h1>Build Better Habits , Build a Better Life</h1>
        </div>
        <div>
            <h3 id="video-heading">See how it works <i class="fas fa-chevron-down" id="arrow-icon"></i></h3>
            <h1 id="video-container">
                <iframe src="https://drive.google.com/file/d/1QZ4EUdUwhiLy_vOK7_Mh23s3tpVZrinE/preview" width="640" height="480" allow="autoplay"></iframe>
            </h1>
        </div>
        {{/if}}
    </div>
    {{>footer}}

    <script>
        document.getElementById('video-heading').addEventListener('click', function () {
            var videoContainer = document.getElementById('video-container');
            var arrowIcon = document.getElementById('arrow-icon');

            if (videoContainer.style.maxHeight === '0px' || videoContainer.style.maxHeight === '') {
                videoContainer.style.maxHeight = '500px'; // Adjust the maximum height as needed
                arrowIcon.className = 'fas fa-chevron-up';
                document.getElementById('video-heading').innerHTML = 'Hide the video <i class="fas fa-chevron-up" id="arrow-icon"></i>';
            } else {
                videoContainer.style.maxHeight = '0';
                arrowIcon.className = 'fas fa-chevron-down';
                document.getElementById('video-heading').innerHTML = 'See how it works <i class="fas fa-chevron-down" id="arrow-icon"></i>';
            }
        });
    </script>

</body>

</html>
