<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Page</title>
    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/auth-styles/style.css">
</head>
<body>
    {{>navbar}}
    <div id="login-content">
        <h1>Login Sucessfull!!!</h1>
        <h1>Click <i class="fa fa-sharp fa fa-solid fa fa-arrow-right fa fa-beat-fade"></i> : <a href="/habitIndex">Habit tracking app</a></h1>
    </div>
    {{>footer}}
</body>
</html>
