/* Set body and html to 100% height */
*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
    
}

body {
    display: flex;
    flex-direction: column;
}



h1 , h3 {
    text-align: center;
    font-size: 36px; /* Increase the font size for the title */
    margin-top: 10px;
    color: #fff; /* Change text color to white for better visibility */
}

#text {
    text-align: center;
    font-size: 18px; /* Adjust font size for the content */
    color: #fff; /* Change text color to white for better visibility */
}

/* Gradient animation */
@keyframes gradientAnimation {
    0% {
        background: linear-gradient(to bottom, #3498db, #1abc9c);
    }
    100% {
        background: linear-gradient(to bottom, #1abc9c, #3498db);
    }
}

/* Apply gradient animation to the body */
body {
    animation: gradientAnimation 5s infinite alternate; /* Adjust animation duration and iteration as needed */
}

/* Add some styling to the content */
#content {
    flex: 1;
    position: relative;
    padding: 20px;
    padding: 20px;
    margin: 20px;
}

/* Style the Welcome!!! text when no message is present */
#typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent; }
  }

  video {
    max-width: 100%;
    height: auto;
    width: 640px;
    height: 360px;
    border: 4px;
    border-radius: 15px; /* Add border-radius for rounded corners */
    transition: border-radius 0.5s, transform 0.5s, filter 0.5s, box-shadow 0.5s; /* Add transitions for border-radius, transform, filter, and box-shadow */
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.2); /* Add a subtle drop shadow */
    background-color: black;
}

video:hover {
    border-radius: 15px;
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: black;
}

#video-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#auth-section {
    display: flex;
    width: 100%;
    margin-top: 30px;
    flex-wrap: wrap;
}

.auth-box {
    flex: 1;
    margin: 30px 10px 10px 10px;
    padding: 20px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register-box,
#login-box {
    background-color: #ffffff; /* White background */
    position: relative;
}

.button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#login-content {
    width: 100%; 
    height: 100vh; 
    text-align: center;
}
